/tests export-ignore
/.* export-ignore
/phpstan* export-ignore
/phpunit.xml export-ignore
/phpunit-ci.xml export-ignore
/phpcs.xml export-ignore
/phpmd.xml export-ignore
/stubs export-ignore
/cockpit-logo.png export-ignore
/devsquad-logo.png export-ignore